mule-esb/CEdition/BATCH-CE/src/main/app/BATCH-CE.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:jdbc="http://www.mulesoft.org/schema/mule/jdbc" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/jdbc http://www.mulesoft.org/schema/mule/jdbc/current/mule-jdbc.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
    <jdbc:postgresql-data-source name="PostgreSQL_Data_Source-Postgres" user="postgres" password="postgres" url="jdbc:postgresql://localhost:5432/postgres" transactionIsolation="UNSPECIFIED" doc:name="PostgreSQL Data Source" doc:description="PostgreSQL_Data_Source-Postgres"/>
    <db:generic-config name="Generic_Database_Configuration-Postgres" url="jdbc:postgresql://localhost:5432/postgres?user=postgres&amp;password=postgres" driverClassName="org.postgresql.Driver" doc:name="Generic Database Configuration" doc:description="Generic_Database_Configuration-Postgres"/>
    <flow name="BATCH-CEFlow">
        <poll doc:name="Poll">
            <db:select config-ref="Generic_Database_Configuration-Postgres" doc:name="Database">
                <db:parameterized-query><![CDATA[select * from users;]]></db:parameterized-query>
            </db:select>
        </poll>
        <set-payload value="#[payload]" doc:name="Set Payload"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <file:outbound-endpoint path="/home/xcaliber/Vitthal/MuleESB/Destination" responseTimeout="10000" doc:name="File"/>
        <logger message="The tansfer has been completed...!!" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
