mule-esb/m-el/src/main/app/m-el.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="8082" basePath="mel" doc:name="HTTP Listener Configuration"/>
    <flow name="m-elFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/" doc:name="HTTP"/>
        <set-variable variableName="nameFlowVariable" value="Vitthal" doc:name="Variable"/>
        <set-session-variable variableName="sessionFlowVariable" value="Shirke" doc:name="Session Variable"/>
        <logger message="#[flowVars.nameFlowVariable]" level="INFO" doc:name="Logger"/>
        <logger message="#[sessionVars.sessionFlowVariable]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
